.rowWrapper {
  height: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  cursor: move;
  color: #707B86;
  z-index:1000;
  transition: color 0.3s cubic-bezier(.25,.8,.25,1);

  &:hover {
    background-image: linear-gradient(90deg, rgba(34,40,52,0.00) 5%, #222834 67%, #222834 67%);
    border-radius: 8px;
    color:white;
  }
}

.rowWrapperDragDisabled {
  cursor: default;
  &:hover {
    opacity: 1;
  }
}

.row {
  height: 100%;
  white-space: nowrap;
  display: flex;

  & > * {
    box-sizing: border-box;
  }
}

/**
 * The outline of where the element will go if dropped, displayed while dragging
 */
.rowLandingPad {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;

  * {
    opacity: 0 !important;
  }

  &::before {
    background-color: #222834;
    border: 2px dashed #333843;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
}

/**
 * Alternate appearance of the landing pad when the dragged location is invalid
 */
.rowCancelPad {
  @extend .rowLandingPad;

  &::before {
    background-color: #e6a8ad;
  }
}

/**
 * Nodes matching the search conditions are highlighted
 */
.rowSearchMatch {
  outline: solid 3px #0080ff;
}

/**
 * The node that matches the search conditions and is currently focused
 */
.rowSearchFocus {
  outline: solid 3px #fc6421;
}

%rowItem {
  display: inline-block;
  vertical-align: middle;
}

.rowContents {
  @extend %rowItem;
  position: relative;
  height: 100%;
  border: 0px;
  padding: 32px 32px 32px 26px;
  border-radius: 2px;
  min-width: 230px;
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font: 300 22px/24px "Proxima Nova";
}

.rowLabel {
  @extend %rowItem;
  flex: 0 1 auto;
  padding-right: 20px;
}

.rowToolbar {
  @extend %rowItem;
  flex: 0 1 auto;
  display: flex;
}

.moveHandle {
  @extend %rowItem;

  height: 100%;
  width: 44px;
  background: #d9d9d9
    url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0MiIgaGVpZ2h0PSI0MiI+PGcgc3Ryb2tlPSIjRkZGIiBzdHJva2Utd2lkdGg9IjIuOSIgPjxwYXRoIGQ9Ik0xNCAxNS43aDE0LjQiLz48cGF0aCBkPSJNMTQgMjEuNGgxNC40Ii8+PHBhdGggZD0iTTE0IDI3LjFoMTQuNCIvPjwvZz4KPC9zdmc+')
    no-repeat center;
  border: solid #aaa 1px;
  box-shadow: 0 2px 2px -2px;
  cursor: move;
  border-radius: 1px;
  z-index: 1;
}

.loadingHandle {
  @extend .moveHandle;

  cursor: default;
  background: #d9d9d9;
}

@keyframes pointFade {
  0%,
  19.999%,
  100% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
}

.loadingCircle {
  width: 80%;
  height: 80%;
  margin: 10%;
  position: relative;
}

.loadingCirclePoint {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;

  $point-count: 12;
  $spin-animation-time: 800ms;

  &:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 11%;
    height: 30%;
    background-color: #fff;
    border-radius: 30%;
    animation: pointFade $spin-animation-time infinite ease-in-out both;
  }

  @for $i from 1 through (($point-count + 1) / 2) {
    &:nth-of-type(#{$i}) {
      transform: rotate(360deg / $point-count * ($i - 1));
    }

    &:nth-of-type(#{$i + $point-count / 2}) {
      transform: rotate(180deg + 360deg / $point-count * ($i - 1));
    }

    &:nth-of-type(#{$i}),
    &:nth-of-type(#{$i + $point-count / 2}) {
      &:before {
        animation-delay: - $spin-animation-time + ($spin-animation-time /
              $point-count * 2 * ($i - 1));
      }
    }
  }
}

.toolbarButton {
  @extend %rowItem;
}

/*.rowTitle {
  font-weight: bold;
}
*/

.rowTitleWithSubtitle {
  font-size: 85%;
  display: block;
  height: 0.8rem;
}

.rowSubtitle {
  font-size: 70%;
  line-height: 1;
}

.collapseButton,
.expandButton {
  appearance: none;
  border: none;
  position: absolute;
  border-radius: 100%;
  box-shadow: 0 0 0 2px #707B86;
  outline: none;
  width: 16px;
  height: 16px;
  padding: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:hover:not(:active) {
    background-size: 24px;
    height: 20px;
    width: 20px;
  }
}

.collapseButton {
  background: #2B313D;
}

.expandButton {
  background: #2B313D;
}

/**
 * Line for under a node with children
 */
.lineChildren {
  height: 100%;
  display: inline-block;
  position: absolute;

  &::after {
    content: '';
    position: absolute;
    background-color: #383F4B;
    width: 3px;
    left: -1px;
    bottom: -3px;
    height: 24px;
  }
};